{% load thumbnail %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <article>
      <div class="common-container">  
      <ul>
        <li>
          Автор: {{ post.author.username }}
          <a href="{% url "posts:profile" username=post.author.username %}">
          все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      {% thumbnail post.image "960x720" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}"
        style="margin:{{ im|margin:"960x720" }}"
        >
        <a href="{% url "posts:post_detail" post.pk %}">подробная информация</a>
        <p>
        </p>
      </div class="common-container">
        </article>
      {% endthumbnail %}
      <div class="container">
      <p>{{ post.text }}</p>
      </div> 
 