{% load thumbnail %}
{% load static %}

<div class="post-container">
  <ul>
    <li>
      Автор: {{ post.author.username }}

      <a href="{% url "posts:profile" username=post.author.username %}">
        все посты пользователя
      </a> 
    </li>

    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>

  <p class="container">
    {% thumbnail post.image "960x720" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}"
    style="margin:{{ im|margin:"960x720" }}"
    >
    {% endthumbnail %}
    {{ post.text }}
  </p>
