{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="author">
  <br>
  <h1 style="font-size: 31px; text-transform: uppercase; font-style: italic; color: #0e397b96; text-align: center;">Немного об авторе</h1>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <div style="margin-left: 50px; margin-bottom: 20px; margin-top: 40px;">
    <h4>Здравствуйте! Спасибо что заглянули, мне очень приятно! Эта страница содержит основную информацию обо мне как об авторе проекта.</h4>
  </div>
  <div style="margin-left: 50px;">
    <h5>Меня зовут Александр, я Python-разработчик, пишу backend на Python, а также дополнительно изучаю вёрстку (HTML + CSS) и Javascript. Мои ключевые навыки: Python, Django Framework, Git, API, Docker, VS Code, SQL, PostgreSQL, Linux, Работа с базами данных, Nginx, HTML, Bootstrap, Pythonanywhere, Gunicorn, Docker Hub. В период с 13.12.2022 г. по 10.09.2023 г. изучил объёмный курс "Python-разработчик" в "Яндекс.Практикум". Успешно защитил дипломную работу, 23.10.2023 г. получил диплом о профессиональной переподготовке. В настоящее время занимаюсь разработкой личных проектов, продолжаю оттачивать и развивать профессиональные навыки.
    <br>
    <h5>Некоторые факты из моей жизни:</h5>
    <ul><h5>
      <li>Мне 32 года, родился и живу в Москве</li>
      <li>Выпускник курса "Python-разработчик" в "Яндекс.Практикум" (57-ая когорта)</li>
      <li>Путешественник (в части стран из списка ниже был 2-3 раза и активно продолжаю изучать этот мир, преодолевая все сложности)</li>
      <li>В копилке: Австрия, Бельгия, Венгрия, Германия, Греция (о. Корфу), Индонезия (о. Бали), Ирландия, Испания, Италия, Республика Казахстан, Нидерланды, Маврикий, ОАЭ, США, Сингапур, Словения, Таиланд, Тунис, Турция, Финляндия, Франция, Хорватия, Швейцария.</li>
      <li>"Турист России" (есть удостоверение и значок) Принимал участие в пеших (и не только) экспедициях в регионы РФ: Алтай, Бурятия, Северный Урал, Иркутская область (Байкал), Камчатский край + в копилке несколько сплавов (Карелия, Южный Урал, Турция) и горных восхождений различных категорий (Эльбрус, Северный Урал (перевал Дятлова), Южный Урал, а также попытка восхождения на Ключевскую сопку, о которой подробно написал в этом блоге)</li>
      <li>Участник долгосрочной международной программы "Work and Study Ireland". В 2017 году учился и работал в Ирландии, мог там остаться навсегда, но выбрал другой путь</li>
      <li>3 спортивный разряд по парашютному спорту</li>
      <li>3 спортивный разряд по спортивному туризму (маршруты 3, 2, 1 к.с.)</li>
      <li>Увлечения: программирование, путешествия, горы, пеший туризм, восхождения, альпинизм, английский язык, сноубординг, интересные люди и общение, фото и многое другое</li>
      <li>Меня вдохновляют некоторые люди, горы, современные технологии, автоматизация процессов, искусственный интеллект и нейросети</li>
    </h5></ul>
    <br>
  </div>
  <br>
  <img src="{% static 'img/me.png' %}" style="max-width: 100%; height: auto; display: block; margin: 0 auto; margin-bottom: 30px;">
</div>
{% endblock %}
