{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="author">
  <br>
  <h1 style="font-size: 31px; text-transform: uppercase; font-style: italic; color: #0e397b96; text-align: center;">Немного об авторе</h1>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <div style="margin-left: 50px; margin-bottom: 20px; margin-top: 40px;">
    <h4>Здравствуйте&#128587; Cпасибо что заглянули, мне очень приятно! Эта страница содержит основную информацию обо мне как об авторе проекта.</h4>
  </div>
  <div style="margin-left: 50px;">
    <h5>Меня зовут Александр, я Python-разработчик, более 2-х лет пишу код по части Backend на Python, а также дополнительно изучаю вёрстку (HTML + CSS) и систему оркестрации контейнеров "Kubernetes" &#128421;&#65039;</h5>
    <h5>В период с 13.12.2022 г. по 10.09.2023 г. с горящими глазами прошёл объёмный курс "Python-разработчик" в "Яндекс.Практикум".</h5>
    <h5>Успешно защитил дипломную работу, 23.10.2023 г. получил диплом о профессиональной переподготовке.</h5>
    <h5>В настоящее время регулярно выполняю проекты в рамках фриланса, продолжая оттачивать и развивать профессиональные навыки, принимаю участие в хакатонах на проектах с крупными заказчиками.</h5>
    <h5>Мои ключевые навыки: Python, Django Framework, Git, API, Docker, VS Code, PostgreSQL, Linux, Nginx, HTML, Bootstrap, Pythonanywhere, Gunicorn, Docker Hub</h5>
    <h5>В одном из проектов был Тимлидом команды, приобрёл бесценный опыт эффективного командного взаимодействия. Под моим руководством команда написала отличное API, которое собирает отзывы пользователей на произведения. Проект сдан до жёсткого дедлайна и с минимальными доработками.</h5>
    <h5>Владею английским языком, поэтому без проблем читаю официальную документацию других разработчиков.</h5>
    <h5>Могу охарактеризовать себя как в высшей степени ответственный, исполнительный, коммуникабельный и неконфликтный человек, умеющий работать как самостоятельно, так и в команде. Веду здоровый образ жизни (без вредных привычек), имею хобби - пеший туризм и альпинизм. 🧗</h5>
    <h5>В настоящее время открыт для сотрудничества и буду благодарен за рекомендации и любые предложения по трудоустройству! (мой никнейм в Телеграм: alexrashkin)</h5>
    <br>
    <h5>Некоторые факты из моей жизни:</h5>
    <ul><h5>
      <li>Мне 31 год, родился и живу в Москве</li>
      <li>Выпускник курса "Python-разработчик" в "Яндекс.Практикум" (57-ая когорта)</li>
      <li>Путешественник (в части стран из списка ниже был 2-3 раза и активно продолжаю изучать этот мир, преодолевая все сложности)</li>
      <li>В копилке: Австрия, Бельгия, Венгрия, Германия, Греция (о. Корфу), Индонезия (о. Бали), Ирландия, Испания, Италия, Республика Казахстан, Нидерланды, ОАЭ, США, Сингапур, Словения, Таиланд, Тунис, Турция, Финляндия, Франция, Хорватия, Швейцария.</li>
      <li>"Турист России"(есть удостоверение и значок) Принимал участие в пеших (и не только) экспедициях в регионы РФ: Алтай, Бурятия, Северный Урал, Иркутская область (Байкал), Камчатский край + в копилке несколько сплавов (Карелия, Южный Урал, Турция) и горных восхождений различных категорий (Эльбрус, Северный Урал(перевал Дятлова), Южный Урал, а также попытка восхождения на Ключевскую сопку&#127755;, о которой подробно написал в этом блоге)</li>
      <li>Участник долгосрочной международной программы "Work and Study Ireland"&#127808; В 2017 году учился и работал в Ирландии, мог там остаться навсегда, но выбрал другой путь&#9996;</li>
      <li>3 спортивный разряд по парашютному спорту&#129666;</li>
      <li>3 спортивный разряд по спортивному туризму🏃🏻(маршруты 3, 2, 1 к.с.)</li>
      <li>Увлечения: программирование, путешествия, горы, пеший туризм, восхождения, альпинизм, английский язык, сноубординг, интересные люди и общение, фото и многое другое &#128519;</li>
      <li>Меня вдохновляют некоторые люди, горы, современные технологии, автоматизация процессов, искусственный интеллект и нейросети&#128525;</li>
    </h5></ul>
    <br>
    <h5>Спасибо за внимание!</h5>
  </div>
  <br>
  <img src="{% static 'img/me.png' %}" style="max-width: 100%; height: auto; display: block; margin: 0 auto; margin-bottom: 30px;">
</div>
{% endblock %}
