@font-face {
    font-family: '3938-font';
    src: url('/static/fonts/3938-font.otf');
}
body {
    font-family: '3938-font', sans-serif;
    background-image: url('/static/img/Jupiter.jpg');
}

.post-detail-article {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.post-detail-article > p {
    margin-top: 30px;
    align-self: flex-start;
    justify-content: center;
}

.post-detail-article > img {
    width: 100%;
    justify-content: center;
}

.post-image {
    width: 100%;
    border-radius: calc(0.9rem - 1px);
    max-width: 100%;
    vertical-align: super;
}

.post-text {
    align-self: auto;
    width:90%;
    margin-top: auto;
    text-align: justify;
}

.img-container {
    display: block;
    object-fit: cover;
    width: 145%;
    text-align: left;    
}

.main-container {
    width: 100%;
    padding-inline: 50px;
}

.main-container > h1 {
    text-align: center;
    margin-top: 50px;
    color: #0a58ca;
}

.main-container > .post-container > p > img {
    margin-bottom: 1.5rem!important;
}

.main {
    padding-inline: 50px;
}

.author {
    padding-inline: 30px;
}

.technologies {
    padding-inline: 30px;
}

.group_name {
    text-align: center;
}

.card-img {
    display: block;
    object-fit: cover;
    border-radius: calc(0.9rem - 1px);
    width: 100%;
    text-align: center;
}

.picture > .card-img {
    width: 90%;
    text-align: center;
}

.post-container > p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
}

.post-container > .container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.post-container > div > ul > li > a {
    border: 1px solid royalblue!important;
    border-radius: calc(0.25rem - 1px);
}

.post-container > div > ul > li {
    margin-right: 10px;
    transition-duration: 500ms;
}

.my_nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /*calc*/
}

.post-container > div > ul > li:hover {
    background: hwb(93 13% 35%);
    box-shadow: 1px 1px 4px;
}


.post-container > ul {
    list-style: none;
    padding: unset;
}

.post-container > ul > li::before {
    content: ">";
}

.post-container > div > ul {
    border-bottom:1px;
}

.common-container {
    max-width: 800px;
    margin-inline: auto;
}

.common-container > ul {
    list-style-type: none;
}

.common-container > ul > li::before {
    content: ">";
}

.container > ul {
    flex-direction: reverse;
}

.container > ul > li:hover {
    background: #350750ab;
    box-shadow: 5px 4px 3px;
    color: rgb(12, 190, 161);
    transition-duration: 200ms;
}

.container > p {
    max-width: 1040px;
    margin-inline: auto;
    text-align: justify;
}

.fixed-width {
    max-width: 62%;
}


.new_class {
    width: 75%;
    text-align: center;
}

.custom-footer {
    border-top: 0px;
}

@media (max-width: 768px) {
    /* стили для экранов с максимальной шириной 768px */
    body {
      font-size: 16px;
    }
    header {
      padding: 10px;
    }
    main {
      margin: 10px;
    }
    footer {
      padding: 10px;
    }
}

@media (max-width: 480px) {
    /* стили для экранов с максимальной шириной 480px */
    body {
      font-size: 14px;
    }
    header {
      padding: 5px;
    }
    main {
      margin: 5px;
    }
    footer {
      padding: 5px;
    }
}

@media (max-width: 320px) {
    /* стили для экранов с максимальной шириной 320px */
    body {
        font-size: 12px;
    }
      header {
        padding: 3px;
    }
      main {
        margin: 3px;
    }
      footer {
        padding: 3px;
    }
}
