    {% extends "base.html" %}
    {% block title %}Об авторе проекта{% endblock %}
    {% block content %}
    <div class="author">
      <br>
    <h1><h1 style="color:#196c7c"><b>Немного об авторе</b></h1>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <p><h5>Всем привет! Меня зовут Александр, мне 30, родился и живу в Москве и в настоящее время я снова студент 
       - обучаюсь программированию на языке "Python".</p> 
      <p>Спасибо, что заглянули! Это простейшая
         социальная сеть для публикации личных дневников, что-то типа "Дзен",
         только на минималках.</p>
      <p>Приглашаю Вас зарегистрироваться и получить доступ к закрытому 
         функционалу сайта! Вы можете это сделать,
         кликнув кнопку "Регистрация" в верхней части экрана. После регистрации и авторизации Вы сможете публиковать свои посты с фотографиями в любом количестве, комментировать уже существующие посты, подписываться на любых авторов и кое-что ещё.
      <p>Меня вдохновляют некоторые люди, горы, современные технологии, автоматизация процессов,
         искусственный интеллект и нейросети.
         В мир IT пришёл из другой сферы и надеюсь уже навсегда, так как очень всё увлекает!
         Фотографию рабочей кружки
         размещу потом, это быстро.</p>
      <p>Небольшие факты из моей биографии:
      <ul>
      <li>
       Выпускник Московской государственной юридической академии
       им.О.Е.Кутафина (в настоящее время переименована в университет),
       Российской академии правосудия (в настоящее время переименована
       в университет)</li>
      <li>Путешественник (США, Италия, Испания, Ирландия, Австрия, Франция,
        Швейцария, Словения, Германия, Бельгия, Нидерланды, Сингапур,
        Финляндия, Хорватия, ОАЭ, Тунис, Турция, Греция (о. Корфу),
        Таиланд, Индонезия (о. Бали); Республика Казахстан)</li>
      <li>"Турист России" (принимал участие в пеших (и не только) экспедициях
        в регионы РФ: Алтай, Бурятия, Северный Урал, Иркутская область
        (Байкал), Камчатский край + в личной копилке несколько сплавов (Карелия,
        Южный Урал, Турция) и горных восхождений различных категорий (Эльбрус,
        Северный Урал(перевал Дятлова), Южный урал)</li>
      <li>Участник долгосрочной международной программы "Work and Study
         Ireland. В 2017 году учился и работал в Ирландии, мог там остаться навсегда, но выбрал другой путь</li>
      <li>3 спортивный разряд по парашютному спорту</li>
      <li>3 спортивный разряд по спортивному туризму (маршруты 3, 2 и 1 к.с.)</li>
      <li>вся трудовая деятельность за последние десять лет была так или иначе
       связана с услугами в сфере автомобильного бизнеса и с юриспруденцией</li>
      <li>и забавный факт - успел поработать даже лицензированным инструктором
         по вождению и официантом, но это было давно и недолго</li>
      </ul>
      <p>На сайте буду регулярно публиковать посты собственного сочинения
         по теме горячо любимого туризма :) Присоединяйтесь!
      </p>
   {% endblock %}
 