{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="author">
  <br>
  <h1 style="font-size: 31px; text-transform: uppercase; font-style: italic; color:#4169E1; text-align: center;">Немного об авторе</h1>
  <br>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <p><div style="margin-left: 50px;"><h4>Всем привет!&#128587; Спасибо, что заглянули, мне очень приятно!&#128522;</h4>
  <p><h4>На этой странице коротко расскажу о себе.<h4></p>
  <h5><p>Я Александр - юрист по первому образованию, Python-разработчик по второму, и это один из моих проектов - социальная сеть
     блогеров&#9997; Здесь можно публиковать интересные посты про путешествия и
     туризм&#9978; Приглашаю вас к участию в качестве авторов новых публикаций!&#128521;</p>
     Программирую на Python более 2-х лет, имею диплом о профессиональной
     переподготовке&#127891; В настоящее время специализируюсь на Backend,
     а также углубленно изучаю вёрстку (HTML + CSS) и со временем
     &#128175; изучу Javascript, т.к. сильно привлекает full-стек разработка. 
     <br>
     <br>
     В новую сферу деятельности решил перейти по нескольким
     причинам, главная из которых: понимание того, что мне 
     интересно ещё с давнего времени, огромное желание делать мир
     вокруг лучше, работать над чем-то захватывающим с полной
     самоотдачей и с чувством ответственности.</p>
  <p>Мои ключевые навыки:
      Python, Django Framework, Git, API, Docker, VS Code, SQL, PostgreSQL,
      Linux, Работа с базами данных, Nginx, HTML, Bootstrap,
      Pythonanywhere, Gunicorn, Docker Hub</p>
  <p>Некоторые факты обо мне:
  <ul>
  <li>Мне 30 лет, родился и живу в Москве</li>
  <li>
     Выпускник курса "Python-разработчик" в "Яндекс.Практикум" (57-ая когорта)</li>
  <li>Путешественник (в части стран из списка ниже был 2-3 раза и активно продолжаю изучать этот&#127757;,
   преодолевая все сложности)</li>
      В копилке: Австрия, Бельгия, Венгрия, Германия, Греция (о.
     Корфу), Индонезия (о. Бали), Ирландия, Испания, Италия, Республика
     Казахстан, Нидерланды, ОАЭ, США, Сингапур, Словения, Таиланд, Тунис,
     Турция, Финляндия, Франция, Хорватия, Швейцария.</li>
  <li>"Турист России"(есть удостоверение и значок) Принимал участие в пеших (и не только)
      экспедициях в регионы РФ: Алтай, Бурятия, Северный Урал, Иркутская
      область (Байкал), Камчатский край + в копилке несколько
      сплавов (Карелия, Южный Урал, Турция) и горных восхождений
      различных категорий (Эльбрус, Северный Урал(перевал Дятлова),
      Южный урал, а также попытка восхождения на Ключевскую сопку&#127755;, о которой подробно
      написал в этом блоге)</li>
  <li>Участник долгосрочной международной программы "Work and Study
     Ireland&#127808; В 2017 году учился и работал в Ирландии, мог там
     остаться навсегда, но выбрал другой путь&#9996;</li>
  <li>3 спортивный разряд по парашютному спорту&#129666;</li>
  <li>3 спортивный разряд по спортивному туризму🏃🏻(маршруты 3, 2 и 1 к.с.)</li>
  <li>Увлечения: программирование, путешествия, горы, пеший туризм, восхождения,
   альпинизм, английский язык, сноубординг, интересные люди и общение,
   фото и многое другое &#128519;</li>
  <li>Меня вдохновляют некоторые люди, горы, современные технологии,
   автоматизация процессов, искусственный интеллект и нейросети&#128525;</li>
  </ul>
   <p>Приглашаю Вас зарегистрироваться и получить доступ к закрытым 
      возможностям сайта! Это легко сделать, кликнув кнопку "Регистрация"
      в верхней части экрана. После регистрации и авторизации Вы сможете
      публиковать свои посты с фото в любом количестве,
      комментировать уже существующие, подписываться на новые публикации
      понравившихся авторов, обновить пароль авторизации при необходимости.</p>
   <p>Буду рад любым формам сотрудничества (в том числе рассматриваю стажировку), готов приносить пользу и продолжить 
      собственное развитие почти в любом IT направлении, поэтому
      буду благодарен за рекомендации и любые предложения (email для связи: r100aa@yandex.ru). Спасибо за внимание!</p>
</div>
</h5>
{% endblock %}
