    {% extends "base.html" %}
    {% block title %}Об авторе проекта{% endblock %}
    {% block content %}
    <h1>Немного об авторе</h1>
    <p>На этой странице я опубликую информацию о себе,
       прикреплю ссылки на аккаунт в Github, страницу резюме и так далее.
       Меня вдохновляют современные технологии,
       автоматизация процессов, искусственный интеллект и
       робототехника во всём её разнообразии. В мир IT пришёл из совсем
       другой сферы. Фотографию рабочей кружки размещу тоже потом, это быстро.</p>
    </p>
    {% endblock %} 