{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>О проекте</title>
	<style>
		section {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		p {
			margin: 20px 30px; /* Добавлены отступы для абзацев */
		}
		h5 {
			margin: 50px 30px; /* Добавлены отступы для заголовков */
		}
	</style>
</head>
<body>
	<h5>Сайт представляет собой социальную сеть блогеров&#9997; Здесь можно
		публиковать интересные посты про путешествия и туризм&#9978; Приглашаю вас
		к участию в качестве авторов новых публикаций!&#128521;</h5>
	<h5>Для этого необходимо зарегистрироваться, что легко сделать, кликнув
		кнопку "Регистрация" в верхней части экрана. После регистрации и
		авторизации Вы сможете публиковать свои посты и фото в любом количестве
		(эту фичу сделал по собственному желанию, т.к. по учебному ТЗ это не
		требовалось), комментировать уже существующие посты, подписываться на новые
		публикации понравившихся авторов, обновить пароль авторизации при
		необходимости.</h5>
	<header>
		<br>
		<h1 style="font-size: 31px; text-transform: uppercase;
		font-style: italic; color:#C1CDCD; text-align: center;">
		Технологии проекта</h1>
		<br>
	</header>
	<main>
		<section>
			<h2><img src="{% static 'img/python.png' %}"> Python</h2>
			<h4>Высокоуровневый язык программирования общего назначения с
				динамической строгой типизацией и автоматическим управлением
				памятью,
				ориентированный на</h4>
			<h4>повышение производительности разработчика,
				читаемости кода и его качества, а также на обеспечение
				переносимости написанных на нём программ.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/django.png' %}"> Django</h2>
			<h4>Фреймворк Python для веб-разработки, который позволяет быстро
				создавать масштабируемые и безопасные приложения.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/git.png' %}"> Git</h2>
			<h4>Система контроля версий, используемая для отслеживания
				изменений в коде проекта и совместной работы над ним.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/css.png' %}"> CSS</h2>
			<h4>Язык стилей, используемый для оформления веб-страниц и
				приложений.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/html.png' %}">HTML</h2>
			<h4>Язык разметки для создания веб-страниц и приложений.</h4>
		</section>
		<br>
	</main>
</body>
</html>
{% endblock %}
