{% extends "base.html" %}
{% block title %}Технологии проекта{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<div class="technologies">
	<title>Технологии проекта</title>
</head>
<body>
	<header>
		<h1>Технологии, которые были применены при разработке:</h1>
	</header>
	<main>
    <section>
			<h2 style="text-indent:150px">Python</h2><p><img src="{% static 'img/python.png' %}"></p>
			<p> Высокоуровневый язык программирования общего назначения с
         динамической строгой типизацией и автоматическим управлением памятью,<br>
         ориентированный на повышение производительности разработчика,
         читаемости кода и его качества, а также на обеспечение
         переносимости написанных на нём программ.</p>
		</section>
		<section>
			<h2 style="text-indent:150px">Django</h2><p><img src="{% static 'img/django.png' %}"></p>
			<p>Фреймворк Python для веб-разработки, который позволяет быстро
        создавать масштабируемые и безопасные приложения.</p>
		</section>
		<section>
			<h2 style="text-indent:150px">HTML</h2><p><img src="{% static 'img/html.png' %}"></p>
			<p>Язык разметки для создания веб-страниц и приложений.</p>
		</section>
		<section>
			<h2 style="text-indent:150px">CSS</h2><p><img src="{% static 'img/css.png' %}"></p>
			<p>Язык стилей, используемый для оформления веб-страниц и приложений.</p>
		</section>
		<section>
			<h2 style="text-indent:150px">Git</h2><p><img src="{% static 'img/git.png' %}"></p>
			<p>Система контроля версий, используемая для отслеживания изменений в
        коде проекта и совместной работы над ним.</p> 
		</section>
	</main>
</body>
</html>
{% endblock %}