{% extends "base.html" %}
{% block title %}Технологии проекта{% endblock %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Технологии проекта</title>
	<style>
		section {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	</style>
</head>
<body>
	<header>
		<br>
		<h1 style="color:#6495ED; text-indent: 50px;"><b>Технологии проекта:</b></h1>
	</header>
	<main>
		<section>
			<h2><img src="{% static 'img/python.png' %}"> Python</h2>
			<h4>Высокоуровневый язык программирования общего назначения с
				динамической строгой типизацией и автоматическим управлением памятью,
				ориентированный на</h4>
			<h4>повышение производительности разработчика,
				читаемости кода и его качества, а также на обеспечение
				переносимости написанных на нём программ.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/django.png' %}"> Django</h2>
			<h4>Фреймворк Python для веб-разработки, который позволяет быстро
				создавать масштабируемые и безопасные приложения.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/git.png' %}"> Git</h2>
			<h4>Система контроля версий, используемая для отслеживания изменений в
				коде проекта и совместной работы над ним.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/css.png' %}"> CSS</h2>
			<h4>Язык стилей, используемый для оформления веб-страниц и приложений.</h4>
		</section>
		<br>
		<section>
			<h2><img src="{% static 'img/html.png' %}">HTML</h2>
			<h4>Язык разметки для создания веб-страниц и приложений.</h4>
		</section>
		<br>
	</main>
</body>
</html>
{% endblock %}